@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}
#clock{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  background: rgba(0,0,0,0.6);
}
.video{
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
#clock h2
{
	position: relative;
	display: block;
	color: #ffee00;
	text-align: center;
	margin: 10px 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 0.8em;
}
#clock #time
{
	display: flex;
}
#clock #time div
{
	position: relative;
	margin: 0 5px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
#clock #time div span
{
	position: relative;
	display: block;
	width: 100px;
	height: 80px;
	background: #ffb95e;
	color: #0400ff;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	z-index: 10;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}
#clock #time div span:nth-child(2)
{
	height: 30px;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	font-weight: 600;
	z-index: 9;
	box-shadow: none;
	background: #54e5ff;
	text-transform: uppercase;
}
#clock #time div:nth-last-child(2) span
{
	background: #fdff6e;
}
#clock #time div:nth-last-child(2) span:nth-child(2)
{
	background: #f00;
	color: white;
}
#clock #time div:nth-last-child(1) span
{
	position: absolute;
	bottom: 0;
	width: 60px;
	height: 40px;
	font-size: 1.5em;
	background: #ff9100;
	color: #008cff;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}